<mat-sidenav-container class="sidenav-container mobilecms-mainpage">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list >
        <!-- if condition is only at this level. The test on sidenav causes an issue, since the object may not exists -->
        <div *ngIf='menuItems'>
          <div *ngFor='let menu of menuItems'>
            <app-menubutton *ngIf='drawer.mode !== "over"' [item]='menu'></app-menubutton>
            <app-menubutton *ngIf='drawer.mode === "over"' [item]='menu' (click)='drawer.close()'></app-menubutton>

          </div>

          <div *ngIf='isAdminRole() && adminMenuItems'>
            <div *ngFor='let menu of adminMenuItems'>
              <app-menubutton *ngIf='drawer.mode !== "over"' [item]='menu'></app-menubutton>
              <app-menubutton *ngIf='drawer.mode === "over"' [item]='menu' (click)='drawer.close()'></app-menubutton>
            </div>
          </div>


        </div>

        <div>
          <app-menubutton [item]='home'></app-menubutton>
        </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <button [routerLink]='["/home"]' mat-button class='top-menu-title'>Admin</button>
      <span class='fill-remaining-space'></span>
      <button *ngIf='isAuthenticated()' mat-button (click)='disconnect()' class='top-menu-icon'>
        <mat-icon alt='disconnect'>cancel</mat-icon>
      </button>

    </mat-toolbar>




    <div>


      <app-alert-message></app-alert-message>

      <!-- content -->
      <router-outlet></router-outlet>
      <!-- login -->

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
