

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{'record.edit.media' | translate}} : {{getAttachments().length}}
    </mat-panel-title>
    <mat-panel-description>
      {{ 'record.edit.media.subtitle' | translate }}
    </mat-panel-description>
  </mat-expansion-panel-header>



  <div>
    <mat-action-row>
      <input type='file' #file (change)='upload(file.files)' multiple='multiple' />
      <button  mat-raised-button color='primary' (click)='refresh()' ><mat-icon>autorenew</mat-icon></button>

      <mat-spinner *ngIf='isLoading()' mode='indeterminate'></mat-spinner>
      <div *ngIf='getResponseMessage() && getResponseMessage().error' class='error-label-message'>
        <mat-icon>cloud_off</mat-icon>  {{getResponseMessage().error}}
      </div>
      <div *ngIf='getResponseMessage() && !getResponseMessage().error' class='success-label-message'>
        <mat-icon>cloud_done</mat-icon>
      </div>
    </mat-action-row>

  <div *ngFor='let item of getAttachments(); let i=index' class='input-group'>


    <mat-card>
      <mat-input-container class='full-width-input'>
        <input matInput placeholder='{{"field.label.attachment.title" | translate}}' [(ngModel)]='getAttachments()[i].title' type='text'>
      </mat-input-container>

      <mat-input-container class='full-width-input'>
        <input readonly matInput placeholder='{{"field.label.attachment.url" | translate}}' [(ngModel)]='getAttachments()[i].url' type='text'>
      </mat-input-container>

      <mat-input-container class='half-width-input'>
        <input readonly matInput placeholder='{{"field.label.attachment.mimetype" | translate}}' [(ngModel)]='getAttachments()[i].mimetype' type='text'>
      </mat-input-container>

      <mat-input-container class='half-width-input'>
        <input readonly matInput placeholder='{{"field.label.attachment.size" | translate}}' [(ngModel)]='getAttachments()[i].size' type='text'>
      </mat-input-container>

      <mat-input-container class='full-width-input'>
        <input matInput placeholder='{{"field.label.attachment.description" | translate}}' [(ngModel)]='getAttachments()[i].description' type='text'>
      </mat-input-container>
      <mat-toolbar>
      <span class='fill-remaining-space'></span>
      <button (click)='moveAttachmentUp(i)'  mat-raised-button color='primary' ><mat-icon>arrow_upward</mat-icon></button>
      <span class='toolbar-spacer'></span>
      <button (click)='moveAttachmentDown(i)'  mat-raised-button color='primary' ><mat-icon>arrow_downward</mat-icon></button>
      <span class='toolbar-spacer'></span>
      <button (click)='deleteMedia(i)'  mat-raised-button color='primary' ><mat-icon>delete_forever</mat-icon></button>
      </mat-toolbar>
    </mat-card>

  </div>
  <!-- ngFor -->



  </div>
</mat-expansion-panel>
