
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
        <span *ngIf='attachments'>{{title | translate}} : {{attachments.length}}</span>
    </mat-panel-title>
    <mat-panel-description>
      {{ 'record.edit.attachments.subtitle' | translate }}
    </mat-panel-description>
  </mat-expansion-panel-header>



<div>
  <mat-action-row>
    <button mat-raised-button color='primary' (click)='addAttachmentBottom()' matTooltip='{{"record.edit.addattachment" | translate}}' class='panel-button'><mat-icon>insert_link</mat-icon></button>
    <mat-spinner *ngIf='loading' mode='indeterminate'></mat-spinner>
    <div *ngIf='responsemessage && responsemessage.error' class='error-label-message'>
      <mat-icon>cloud_off</mat-icon>  {{responsemessage.error}}
    </div>
    <div *ngIf='responsemessage && !responsemessage.error' class='success-label-message'>
      <mat-icon >cloud_done</mat-icon>
    </div>
  </mat-action-row>

<div *ngFor='let attachment of attachments; let i=index' class='input-group'>
  <app-link [type]='type' [current]='current' [attachments]='attachments' [index]='i'></app-link>
</div>


</div>


</mat-expansion-panel>
