
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
        <span *ngIf='attachments'>{{title | translate}} : {{attachments.length}}</span>
    </mat-panel-title>
    <mat-panel-description>
      {{ 'record.edit.attachments.subtitle' | translate }}
    </mat-panel-description>
  </mat-expansion-panel-header>



<div>
  <mat-action-row>
    <button mat-raised-button color='primary' (click)='addAttachmentBottom()' matTooltip='{{"record.edit.addattachment" | translate}}' class='panel-button'><mat-icon>insert_link</mat-icon></button>
    <mat-spinner *ngIf='loading' mode='indeterminate'></mat-spinner>
    <div *ngIf='responsemessage && responsemessage.error' class='error-label-message'>
      <mat-icon>cloud_off</mat-icon>  {{responsemessage.error}}
    </div>
    <div *ngIf='responsemessage && !responsemessage.error' class='success-label-message'>
      <mat-icon >cloud_done</mat-icon>
    </div>
  </mat-action-row>

<div *ngFor='let attachment of attachments; let i=index' class='input-group'>


    <mat-input-container class='full-width-input'>
      <input matInput placeholder='{{"field.label.attachment.title" | translate}}' [(ngModel)]='attachments[i].title' type='text'>
    </mat-input-container>

    <mat-input-container class='full-width-input'>
      <input matInput placeholder='{{"field.label.attachment.url" | translate}}' [(ngModel)]='attachments[i].url' type='text'>
    </mat-input-container>

    <mat-input-container class='full-width-input'>
      <input matInput placeholder='{{"field.label.attachment.description" | translate}}' [(ngModel)]='attachments[i].description' type='text'>
    </mat-input-container>
    <mat-toolbar>
      <span class='fill-remaining-space'></span>
      <button (click)='moveAttachmentUp(i)'  mat-raised-button color='primary'  class='panel-button'><mat-icon>arrow_upward</mat-icon></button>
      <span class='toolbar-spacer'></span>
      <button (click)='moveAttachmentDown(i)'  mat-raised-button color='primary'  class='panel-button'><mat-icon>arrow_downward</mat-icon></button>
      <span class='toolbar-spacer'></span>
      <span class='toolbar-spacer'></span>
      <button (click)='deleteAttachment(i)'  mat-raised-button color='primary'  class='panel-button'><mat-icon>delete_forever</mat-icon></button>
      <span class='toolbar-spacer'></span>
      <button *ngIf='adminrole' (click)='download(i)'  mat-raised-button color='primary' class='panel-button' ><mat-icon>backup</mat-icon></button>
    </mat-toolbar>


</div>


</div>


</mat-expansion-panel>
