

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title *ngIf='getAttachments()'>
      {{'record.edit.media' | translate}} : {{getAttachments().length}}
    </mat-panel-title>
    <mat-panel-description>
      {{ 'record.edit.media.subtitle' | translate }}
    </mat-panel-description>
  </mat-expansion-panel-header>


  <span *ngIf='newrecord'>{{'record.help.media.newrecordwarning' | translate }}</span>
  <div *ngIf='!newrecord'>
    <mat-progress-bar *ngIf='isLoading()' mode="indeterminate"></mat-progress-bar>
    <mat-action-row>
      <input type='file' #file (change)='upload(file.files)' multiple='multiple' />
    </mat-action-row>
    <mat-action-row>
      <button  mat-raised-button color='primary' (click)='refresh()' matTooltip="{{'record.media.refresh' | translate }}"><mat-icon>autorenew</mat-icon></button>
      <button  mat-raised-button color='primary' (click)='createThumbnails()' matTooltip="{{'record.media.createthumbnails' | translate }}"><mat-icon>photo_size_select_small</mat-icon></button>

      <div *ngIf='getResponseMessage() && getResponseMessage().error' class='error-label-message'>
        <mat-icon>cloud_off</mat-icon>  {{getResponseMessage().error}}
      </div>
      <div *ngIf='getResponseMessage() && !getResponseMessage().error' class='success-label-message'>
        <mat-icon>cloud_done</mat-icon>
      </div>
    </mat-action-row>

    
  <div *ngFor='let item of getAttachments(); let i=index' class='input-group'>

    <app-media [type]='type' [current]='current' [attachments]='getAttachments()' [index]='i'></app-media>


  </div>
  <!-- ngFor -->



  </div>
</mat-expansion-panel>
