
<div class='link-card'>

        <button (click)='toggleDisplayDetails()' mat-button class='large-button'>
          <span class='attachment-title'>{{attachments[index].title}}</span>
          <mat-icon *ngIf='!displayDetails'>keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf='displayDetails'>keyboard_arrow_up</mat-icon>
        </button>



<div *ngIf='displayDetails'>
  <mat-form-field class='full-width-input'>
    <input matInput placeholder='{{"field.label.attachment.title" | translate}}' [(ngModel)]='attachments[index].title' type='text'>
  </mat-form-field>

  <mat-form-field class='full-width-input'>
    <input matInput placeholder='{{"field.label.attachment.url" | translate}}' [(ngModel)]='attachments[index].url' type='text'>
  </mat-form-field>

  <mat-form-field class='full-width-input'>
    <input matInput placeholder='{{"field.label.attachment.description" | translate}}' [(ngModel)]='attachments[index].description' type='text'>
  </mat-form-field>
  <mat-toolbar class='whitetoolbar'>
    <span class='fill-remaining-space'></span>
    <button (click)='moveAttachmentUp(index)'  mat-raised-button color='primary'  class='panel-button'><mat-icon>arrow_upward</mat-icon></button>
    <span class='toolbar-spacer'></span>
    <button (click)='moveAttachmentDown(index)'  mat-raised-button color='primary'  class='panel-button'><mat-icon>arrow_downward</mat-icon></button>
    <span class='toolbar-spacer'></span>
    <span class='toolbar-spacer'></span>
    <button (click)='deleteAttachment(index)'  mat-raised-button color='primary'  class='panel-button'><mat-icon>delete_forever</mat-icon></button>

  </mat-toolbar>



</div>
</div>
