.full-width-input {
  width: 100%;

}

.half-width-input {
  width: 15em;
}


.full-width-textarea {
  width: 100%;
}

.input-group {
  padding-bottom: 0.2em;
}

input:read-only {
    background-color: #ddd;
}





.list-container {
  padding-bottom: 0.5em;
}

.success-label-message {
  color: #777777;
  font-size: 0.81em;
}

.error-label-message {
  color: red;
  font-size: 0.81em;
}


/* Material like CSS
cf html: issue with mat-form-field : throw an ExpressionChangedAfterItHasBeenCheckedError
*/
.my-mat-form-field {
  padding-bottom: 0.4em;
}

.my-mat-input-placeholder {
  color: #818181;
  font-size: 0.8em;
}

.my-mat-input {
  border-bottom: 0.09em solid #919191;
}
.my-mat-input:focus {
  border-bottom: 0.1em solid #7800A1;
}
