<!--component html goes here -->
<h2 md-dialog-title>{{'home.help.title' | translate}}</h2>
<!-- help content -->
  <md-dialog-content>
    <md-list>
     <md-list-item>  {{'record.edit.media' | translate}} </md-list-item> {{'record.help.media' | translate}}
     <md-list-item> <md-icon>insert_link</md-icon> {{'record.edit.attachments' | translate}} </md-list-item> {{'record.help.attachments' | translate}}
     <md-list-item> <md-icon>insert_link</md-icon> {{'record.edit.images' | translate}} </md-list-item> {{'record.help.images' | translate}}
    </md-list>

    </md-dialog-content>

<!-- help content -->
<md-dialog-actions>
  <button md-button md-dialog-close><md-icon>arrow_back</md-icon></button>
</md-dialog-actions>
