<md-toolbar color='primary' class='topmenucontent'>

  <button *ngIf='isAuthenticated() && !menuOpened' md-button (click)='sidenav.open()'><md-icon>menu</md-icon></button>

  <button [routerLink]='["/home"]' md-button class='top-menu-title'>Admin</button>
  <span class='fill-remaining-space'></span>
  <button *ngIf='isAuthenticated() || isUserExists()' md-button (click)='disconnect()' class='top-menu-icon'><md-icon alt='disconnect'>cancel</md-icon></button>



</md-toolbar>

<md-sidenav-container>

  <!-- slide menu -->

  <md-sidenav #sidenav [mode]='menuMode' [opened]='menuOpened' class='slidemenu'>
    <nav *ngIf='isConnected()'>
      <div *ngIf='!menuItems'>

      </div>
      <div *ngIf='menuItems'>
        <div *ngFor='let menu of menuItems'>
          <app-menubutton *ngIf='menuMode !== "over"' [item]='menu'></app-menubutton>
          <app-menubutton *ngIf='menuMode === "over"' [item]='menu' (click)='sidenav.close()'></app-menubutton>

        </div>

        <div *ngIf='hasAdminRole && adminMenuItems'>
          <div *ngFor='let menu of adminMenuItems'>
            <app-menubutton *ngIf='menuMode !== "over"' [item]='menu'></app-menubutton>
            <app-menubutton *ngIf='menuMode === "over"' [item]='menu' (click)='sidenav.close()'></app-menubutton>
          </div>
        </div>


      </div>

    </nav>
  </md-sidenav>


  <!-- container -->


  <div class='my-content'>
    <app-alert-message></app-alert-message>

    <!-- content -->
    <router-outlet *ngIf='isConnected()'></router-outlet>
    <!-- login -->

    <div *ngIf='!isConnected()'>
    <div *ngIf='!isAuthenticated() && isUserExists()' class='loginform'>

      <form name='form' (ngSubmit)='f.form.valid && login()' #f='ngForm' novalidate>

        <md-input-container class='loginform-input'>
          <input type='password' mdInput placeholder='{{"login.password" | translate}}' name='password' [(ngModel)]='model.password' #password='ngModel' required />
        </md-input-container>

          <md-toolbar  class='loginform-input'>

            <span class='fill-remaining-space'></span>
          <button md-raised-button color='primary' [disabled]='loading' class='login-button'>{{ 'validate.label' | translate | uppercase }}</button>
          </md-toolbar>
          <md-toolbar  class='loginform-input'>
            <form name='form3' (ngSubmit)='f3.form.valid && openSendPassword()' #f3='ngForm' novalidate>
                <button md-button [disabled]='loading'>{{'sendpassworddialog.warning' | translate}}<md-icon>settings_backup_restore</md-icon></button>
            </form>
          </md-toolbar>

      </form>
    </div>

    <!-- username / email -->
    <div *ngIf='!isAuthenticated() && !isUserExists()' class='loginform'>
      <form name='form2' (ngSubmit)='f2.form.valid && validateuser()' #f2='ngForm' novalidate>
        <div [ngClass]='{ "has-error": f2.submitted && !username.valid }'>
          <md-input-container class='loginform-input'>
            <input type='text' mdInput placeholder='{{"login.user" | translate}}' name='username' [(ngModel)]='model.username' #username='ngModel' required />
          </md-input-container>

        </div>


          <md-toolbar class='loginform-input'>
            <span class='fill-remaining-space'></span>
          <button md-raised-button  color='primary' [disabled]='loading' class='login-button'>{{ 'next.label' | translate | uppercase }}</button>
          </md-toolbar>


      </form>

    </div>

    <!-- new password -->
    <div *ngIf='isAuthenticated() && isNewPasswordRequired()' class='loginform'>
      <form *ngIf='!success' name='form' (ngSubmit)="f.form.valid && modifypassword() " #f='ngForm' novalidate class='loginform'>


        <div [ngClass]="{ 'has-error': f.submitted  && !newpassword.valid && isSecurePassword() }">
          <md-input-container class='loginform-input'>
            <input type='password' mdInput placeholder='newpassword' name='newpassword' [(ngModel)]="model.newpassword" #newpassword='ngModel' required />
          </md-input-container>
          <md-icon *ngIf='isSecurePassword()' class='success-label'>security</md-icon>
          <md-icon *ngIf='!isSecurePassword()' class='error-label'>security</md-icon>
        </div>

        <div [ngClass]="{ 'has-error': f.submitted }">
          <md-input-container class='loginform-input'>
            <input type='password' mdInput placeholder='newpassword2' name='newpassword2' [(ngModel)]="model.newpassword2" #newpassword='ngModel' required />
          </md-input-container>
          <md-icon *ngIf='model.newpassword2 && model.newpassword !== model.newpassword2' class='error-label-message'>block</md-icon>
        </div>

        <div>
          <button *ngIf='canSubmit()' md-button [disabled]="loading"><md-icon>check_circle</md-icon></button>

        </div>
      </form>
    </div>

    <div class='loginform'>
      <md-spinner *ngIf='loading' mode='indeterminate'></md-spinner>
    </div>
    </div>

  </div>
</md-sidenav-container>
