<md-sidenav-container>

  <!-- slide menu -->

  <md-sidenav  #sidenav [mode]='menuMode' [opened]='menuOpened' class='slidemenu'>
    <nav *ngIf='isConnected()'>
      <div *ngIf='menuItems'>
        <div *ngFor='let menu of menuItems'>
          <button *ngIf='menuMode !== "over"' [routerLink]='["/recordlist", menu.type]' routerLinkActive='active' md-button color='primary'>
          <span class='adminslidemenu-button-text'>{{menu.label}}</span>
          </button>
          <button *ngIf='menuMode === "over"' (click)='sidenav.close()' [routerLink]='["/recordlist", menu.type]' routerLinkActive='active' md-button color='primary'>
          <span class='adminslidemenu-button-text'>{{menu.label}}</span>
          </button>
        </div>
      </div>

    </nav>
  </md-sidenav>


  <!-- container -->

      <md-toolbar color='primary' class='topmenucontent'>

        <button *ngIf='isConnected() && !menuOpened' md-button (click)='sidenav.open()'><md-icon>menu</md-icon></button>

        <button [routerLink]='["/home"]' md-button class='top-menu-title'>Administration</button>
        <span class="top-menu-middle-spacer"></span>

        <button *ngIf='isConnected()' md-button (click)='disconnect()' class='top-menu-icon'><md-icon alt='disconnect'>cancel</md-icon></button>

        <button *ngIf='isConnected()' md-button [routerLink]='["/modifypasssword"]'><md-icon alt='login'>account_circle</md-icon></button>

      </md-toolbar>
  <div class='my-content'>
<app-alert-message></app-alert-message>

    <!-- content -->
    <router-outlet *ngIf='isConnected()'></router-outlet>
    <div  *ngIf='!isConnected()' class='loginform'>

        <form name='form' (ngSubmit)='f.form.valid && login()' #f='ngForm' novalidate>
            <div class='form-group' [ngClass]='{ "has-error": f.submitted && !username.valid }'>

                <md-input-container >
                <input type='text'  mdInput placeholder='{{"login.user" | translate}}' class='form-control' name='username' [(ngModel)]='model.username' #username='ngModel' required />
                </md-input-container>

            </div>

              <md-input-container >
              <input type='password'  mdInput placeholder='{{"login.password" | translate}}' class='form-control' name='password' [(ngModel)]='model.password' #password='ngModel' required />
              </md-input-container>

            <div class='form-group'>
                <button md-button [disabled]='loading' ><md-icon>check_circle</md-icon></button>
                <img *ngIf='loading' src='data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==' />

            </div>


        </form>
    </div>


</div>




</md-sidenav-container>
