.topmenucontent {
  box-shadow: 5px 5px 10px 0 #656565;
}



.top-menu-spacer {
 padding-right: 1em;
}


.top-menu-title {
  font-size: 1.25em;
}

.top-menu-icon {
  padding: 0 0.875em;
}





.slidemenu {
box-shadow: 5px 5px 10px 0 #656565;
padding-top: 1em;
}

.my-content-default {
  margin-left: 0;
  min-height: 50em;
}

.my-content {
  min-height: 20em;
  padding: 0;
}



@media all and (min-width: 55em) {
  .my-content-default {
    margin-left: 0;
    min-height: 50em;
  }

  .my-content {
    min-height: 50em;
    padding: 0 0.4em 0 0.4em;
  }

  .top-menu-spacer {
   padding-right: 5em;
  }


}
