.topmenucontent {
  box-shadow: 5px 5px 10px 0 #656565;
}



.top-menu-spacer {
 padding-right: 1em;
}


.top-menu-title {
  font-size: 1.25em;
}

.top-menu-icon {
  padding: 0 0.875em;
}

.error-label {
  color: red;
}
.success-label {
  color: green;
}

.loginform {
  padding: 1em;
}


.login-button {
  font-weight: bold;
}

.loginform-input {
  width: 100%;
}


.slidemenu {
box-shadow: 5px 5px 10px 0 #656565;
padding-top: 1em;
}


.my-content {
  margin-left: 0;
  min-height: 800px;
}



@media all and (min-width: 55em) {
  .my-content {
    padding-left: 4em;
  }

  .top-menu-spacer {
   padding-right: 5em;
  }

  .loginform-input {
    width: 20em;
  }


  .loginform {
    padding-left: 10em;
    padding-right: 10em;
  }
  .slidemenu {
  padding-top: 5em;
  }
}
