<h2 mat-dialog-title>{{'deletedialog.title' | translate}}</h2>
<mat-dialog-content>{{'delete.warning.1' | translate}}</mat-dialog-content>
<mat-dialog-content>{{ data }}</mat-dialog-content>
<mat-dialog-content>{{'delete.warning.2' | translate}}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'cancel.label' | translate}}</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button [mat-dialog-close]="true">{{'delete.label' | translate}}</button>
</mat-dialog-actions>
