<div>
  <mat-toolbar>
    <span matTooltip='{{ "record.list.create" | translate }}'><button mat-button [routerLink]='["/userrecord", "new"]'><mat-icon>add</mat-icon> </button></span>

</mat-toolbar>

  <div *ngIf='items'>
    <div *ngFor='let item of items'>
      <button *ngIf='item.name' mat-button [routerLink]='["/userrecord", item.email]' class='item-title'>{{item.name}}</button>
      <button *ngIf='!item.name' mat-button [routerLink]='["/userrecord", item.email]'>{{item.email}}</button>
    </div>
  </div>

</div>
