<md-card>
  <button md-button *ngIf="f.form.valid" (click)="save()" mdTooltip="{{'record.edit.save' | translate }}"><md-icon>save</md-icon></button>
  <button md-button *ngIf="!newrecord" (click)="openConfirmDialog()" mdTooltip="{{'record.edit.delete' | translate }}"> <md-icon>delete</md-icon></button>
  <button md-button (click)='openHelpDialog()'><md-icon alt='help'>help_outline</md-icon></button>
</md-card>
<div *ngIf='responsemessage && responsemessage.error' class='error-label-message'>
  <md-icon>cloud_off</md-icon> {{responsemessage.error}}
</div>
<div *ngIf='responsemessage && !responsemessage.error' class='success-label-message'>
  <md-icon mdTooltip='{{responsemessage.savedate}}'>cloud_done</md-icon> {{responsemessage.since}}
</div>

<form name='form' (ngSubmit)='f.form.valid' #f='ngForm' novalidate>
  <div class="container">



    <div *ngIf="current">
      <div *ngIf="newrecord">
        <div *ngFor="let property of properties">

        <div *ngIf="property.name === 'email'">
          <md-input-container class="full-width-input" *ngIf="property.editor === 'line'">
            <input mdInput placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
          </md-input-container>
        </div>


        <div *ngIf="property.name === 'name'">
          <md-input-container class="full-width-input" *ngIf="property.editor === 'line'">
            <input mdInput placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
          </md-input-container>
        </div>

        <div *ngIf="property.name === 'password'">
          <md-input-container>
            <input mdInput placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
          </md-input-container>
        </div>
      </div>
      </div>

      <div *ngIf="!newrecord">

        <div *ngFor="let property of properties">

          <div *ngIf="property.name === 'email'">
            <md-input-container class="full-width-input" *ngIf="property.editor === 'line'">
              <input mdInput readonly placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
            </md-input-container>
          </div>


          <div *ngIf="property.name === 'name'">
            <md-input-container class="full-width-input" *ngIf="property.editor === 'line'">
              <input mdInput placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
            </md-input-container>
          </div>


          <!-- choice list -->
          <div *ngIf="property.editor === 'choice'">
            <md-select placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}">
              <!-- list of choices from metadata -->
              <md-option *ngFor="let choice of property.choices" [value]="choice">{{ choice }}</md-option>
            </md-select>
            <br/>
          </div>


          <div *ngIf="property.name === 'password'">
            <md-input-container>
              <input mdInput placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
            </md-input-container>
          </div>

        </div>
      </div>
      <!-- properties -->

    </div>
    <!-- current -->


  </div>
  <!-- container -->

</form>
