<div>
  <div class='secondary-button-bar'>
    <span mdTooltip='{{ "record.list.create" | translate }}'><button md-button [routerLink]='["/register"]'><md-icon>add</md-icon> </button></span>



</div>


TODO
  <div *ngIf='items'>
    <div *ngFor='let item of items'>
      <button *ngIf='item.title' md-button [routerLink]='["/record", type ,  item.id]' class='item-title'>{{item.title}}</button>
      <button *ngIf='!item.title' md-button [routerLink]='["/record", type ,  item.id]'>{{item.id}}</button>
    </div>
  </div>

</div>
