<mat-card>
  <button mat-button *ngIf="f.form.valid" (click)="save()" matTooltip="{{'record.edit.save' | translate }}"><mat-icon>save</mat-icon></button>
  <button mat-button *ngIf="!newrecord" (click)="openConfirmDialog()" matTooltip="{{'record.edit.delete' | translate }}"> <mat-icon>delete</mat-icon></button>
  <button mat-button (click)='openHelpDialog()'><mat-icon alt='help'>help_outline</mat-icon></button>
</mat-card>
<div *ngIf='responsemessage && responsemessage.error' class='error-label-message'>
  <mat-icon>cloud_off</mat-icon> {{responsemessage.error}}
</div>
<div *ngIf='responsemessage && !responsemessage.error' class='success-label-message'>
  <mat-icon matTooltip='{{responsemessage.savedate}}'>cloud_done</mat-icon> {{responsemessage.since}}
</div>

<form name='form' (ngSubmit)='f.form.valid' #f='ngForm' novalidate>
  <div class="container">



    <div *ngIf="current">
      <div *ngIf="newrecord">
        <div *ngFor="let property of properties">

        <div *ngIf="property.name === 'email'">
          <mat-form-field class="full-width-input" *ngIf="property.editor === 'line'">
            <input matInput placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
          </mat-form-field>
        </div>


        <div *ngIf="property.name === 'name'">
          <mat-form-field class="full-width-input" *ngIf="property.editor === 'line'">
            <input matInput placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
          </mat-form-field>
        </div>

        <div *ngIf="property.name === 'password'">
          <mat-form-field>
            <input matInput placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
          </mat-form-field>
        </div>
      </div>
      </div>

      <div *ngIf="!newrecord">

        <div *ngFor="let property of properties">

          <div *ngIf="property.name === 'email'">
            <mat-form-field class="full-width-input" *ngIf="property.editor === 'line'">
              <input matInput readonly placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
            </mat-form-field>
          </div>


          <div *ngIf="property.name === 'name'">
            <mat-form-field class="full-width-input" *ngIf="property.editor === 'line'">
              <input matInput placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
            </mat-form-field>
          </div>


          <!-- choice list -->
          <div *ngIf="property.editor === 'choice'">
              <mat-form-field>
            <mat-select placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}">
              <!-- list of choices from metadata -->
              <mat-option *ngFor="let choice of property.choices" [value]="choice">{{ choice }}</mat-option>
            </mat-select>
          </mat-form-field>
            <br/>
          </div>


          <div *ngIf="property.name === 'password'">
            <mat-form-field>
              <input matInput placeholder="{{'field.label.' + property.name | translate }}" [(ngModel)]="current[property.name]" name="{{property.name}}" type="text">
            </mat-form-field>
          </div>

        </div>
      </div>
      <!-- properties -->

    </div>
    <!-- current -->


  </div>
  <!-- container -->

</form>
