<button [routerLink]="['/']" md-button><md-icon>home</md-icon></button>


<div class="recordlist">
  <div>
    <md-card><button md-button [routerLink]="['/record', type ,  'new']"><md-icon>add</md-icon></button>

    <button md-button (click)="rebuildIndex()"><md-icon>refresh</md-icon></button></md-card>



    <div *ngIf="items">
      <div *ngFor="let item of items">
        <a [routerLink]="['/record', type ,  item.id]">{{item.id}}  </a> {{item.title}}
      </div>
    </div>

  </div>
</div>
