.recordlist {
  padding: 0;
  border: 1px solid #ddd;
}



.item-title {
  padding: 0.1em;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  white-space: pre-wrap;
}

@media all and (min-width: 55em) {
  .recordlist {
    padding: 2em;
  }
  .item-title {
    padding: 0.5em;
  }

}
