<button [routerLink]="['/']" md-button><md-icon>home</md-icon></button>

<div>{{'record.list.title' | translate}}</div>
<div class="recordlist">
  <div>
    <md-card><button md-button [routerLink]="['/record', type ,  'new']"><md-icon>add</md-icon> {{ 'record.list.create' | translate }}</button>

    <button md-button (click)="rebuildIndex()"><md-icon>refresh</md-icon></button></md-card>



    <div *ngIf="items">
      <div *ngFor="let item of items">
        <button md-button [routerLink]="['/record', type ,  item.id]">{{item.id}} {{item.title}}</button>
      </div>
    </div>

  </div>
</div>
