<form name="form" (ngSubmit)="f.form.valid && modifypassword() " #f="ngForm" novalidate>


  <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
    <md-input-container>
      <input type="password" mdInput placeholder="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
    </md-input-container>
  </div>

  <div [ngClass]="{ 'has-error': f.submitted  && !newpassword.valid && isSecurePassword() }">
    <md-input-container>
      <input type="password" mdInput placeholder="newpassword" class="form-control" name="newpassword" [(ngModel)]="model.newpassword" #newpassword="ngModel" required />
    </md-input-container>
    <md-icon *ngIf='isSecurePassword()' class='success-label'>security</md-icon>
    <md-icon *ngIf='!isSecurePassword()' class='error-label'>security</md-icon>
  </div>

  <div [ngClass]="{ 'has-error': f.submitted }">
    <md-input-container>
      <input type="password" mdInput placeholder="newpassword2" class="form-control" name="newpassword2" [(ngModel)]="model.newpassword2" #newpassword="ngModel" required />
    </md-input-container>
    <md-icon *ngIf='model.newpassword2 && model.newpassword !== model.newpassword2' class='error-label-message'>block</md-icon>
  </div>

  <div>
    <button *ngIf='canSubmit()' md-button [disabled]="loading"><md-icon>check_circle</md-icon></button>
      <md-spinner *ngIf='loading' mode='indeterminate'></md-spinner>
  </div>
</form>
