.error-label {
  color: red;
}
.success-label {
  color: green;
}


.loginform {
  padding: 1em;
}


.loginform-input {
  width: 90%;
}



@media all and (min-width: 55em) {

  .loginform-input {
    width: 40%;
  }

  .loginform {
    padding-left: 10em;
    padding-right: 10em;
  }
}
