/* You can add global styles to this file, and also import other style files */

/* purple theme */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

/* blue theme */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

/* dark theme */
/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/


/* You can add global styles to this file, and also import other style files */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toolbar-spacer {
  width: 0.5em;
}

.fill-remaining-space {
  flex: 1 1 auto;
}


.secondary-button-bar {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
