<md-sidenav-container>

  <!-- slide menu -->

  <md-sidenav #sidenav [mode]='this.menuMode' [opened]='menuOpened'>
    <nav>
      <app-my-slidemenu class='slidemenu'></app-my-slidemenu>
    </nav>
  </md-sidenav>


  <!-- container -->
  <div class='my-content'>
      <md-toolbar color='primary'>
        <button *ngIf='!menuOpened' md-button (click)='sidenav.open()'><md-icon>menu</md-icon></button>
        <app-my-topmenu  class='topmenucontent'></app-my-topmenu>

          <button [routerLink]='["/home"]' md-button><md-icon>home</md-icon></button>
          <button *ngIf='currentUser' md-button [routerLink]='["/login"]' class='disconnectbutton'><md-icon alt='disconnect'>close</md-icon></button>

      </md-toolbar>
<!-- TODO
        <button md-button [routerLink]='['/modifypasssword']' class='topmenucontent'><md-icon>account_circle</md-icon>Password </button>
-->

<!-- help content -->
  <md-card>
    <div>{{'home.help.title' | translate}}</div>
    <md-list>
     <md-list-item> <md-icon>menu</md-icon> {{'home.help.menu' | translate}} </md-list-item>
     <md-list-item> <md-icon>home</md-icon> {{'home.help.home' | translate}} </md-list-item>
     <md-list-item> <md-icon>close</md-icon> {{'home.help.disconnect' | translate}} </md-list-item>

    </md-list>

    </md-card>
<!-- help content -->

  </div>


</md-sidenav-container>
