.topmenucontent {
     display: inline-block;
}
.slidemenu {
background-color: black;
box-shadow: 5px 5px 10px 0 #656565;
z-index: 90;
}


.my-content {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 800px;
}
