<div *ngIf='currentUser && hasRole'>
  <div class="">

    <div>{{currentUser.email}}</div>
    <p>Adminapp</p>

    <div *ngIf="items">
      <md-list>
        <md-list-item *ngFor="let item of items">
          <button md-button [routerLink]="['/recordlist', item.type]">{{item.type}}</button>
        </md-list-item>
      </md-list>


    </div>

    <p><a [routerLink]="['/login']">Logout</a></p>
  </div>
</div>

<div *ngIf='currentUser && !hasRole'>
  User not activated, please contact your administrator
  <p><a [routerLink]="['/login']">Logout</a></p>
</div>

<div *ngIf='!currentUser'>
  <a [routerLink]="['/login']">Login</a>
</div>
