<md-sidenav-container>

  <!-- slide menu -->

  <md-sidenav #sidenav [mode]='this.menuMode' [opened]='menuOpened'>
    <nav>
      <app-my-slidemenu class="slidemenu"></app-my-slidemenu>
    </nav>
  </md-sidenav>


  <!-- container -->
  <div class="my-content">
    <div >
        <button *ngIf='!menuOpened' md-button (click)='sidenav.open()' class="topmenucontent">
        <md-icon >menu</md-icon>
        </button>
        <app-my-topmenu  class="topmenucontent"></app-my-topmenu>
<!-- TODO
        <button md-button [routerLink]="['/modifypasssword']" class="topmenucontent"><md-icon>account_circle</md-icon>Password </button>
-->
    </div>




  </div>


</md-sidenav-container>
