<div>

  <form name='form' (ngSubmit)='f.form.valid && register()' #f='ngForm' novalidate class='loginform'>
    <div [ngClass]='{ "has-error": f.submitted && !email.valid }'>

      <mat-form-field class='loginform-input'>
        <input type='text' matInput placeholder='Username' name='name' [(ngModel)]='model.name' #name='ngModel' required />
      </mat-form-field>


    </div>

    <div [ngClass]='{ "has-error": f.submitted && !email.valid }'>
      <mat-form-field class='loginform-input'>
        <input type='text' matInput placeholder='email' name='email' [(ngModel)]='model.email' #email='ngModel' required />
      </mat-form-field>

    </div>
    <div [ngClass]='{ "has-error": f.submitted && !password.valid }'>
      <mat-form-field class='loginform-input'>
        <input type='password' matInput placeholder='password' name='password' [(ngModel)]='model.password' #password='ngModel' required />
      </mat-form-field>
    </div>






    <div>
      <button mat-button [disabled]='loading'><mat-icon>check_circle</mat-icon></button>
      <mat-spinner *ngIf='loading' mode='indeterminate'></mat-spinner>

    </div>
  </form>
</div>
