
.loginform {
  padding: 1em;
}


.loginform-input {
  width: 100%;
}



@media all and (min-width: 55em) {

  .loginform-input {
    width: 25%;
  }

  .loginform {
    padding-left: 10em;
    padding-right: 10em;
  }
}
